<div class="jumbotron">
    <h1>Web API Testing Suite</h1>
    <p class="lead">This page serves to test the client JS library that uses the REST API endpoints.
    For documentation on how to use the WebAPI, select "Learn More"</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Testing of Client JS Library.</h2>
        <p>Open the Inspector and view <em>Console</em> and <em>Network</em> tabs to view the tests.</p>
    </div>

</div>
